<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lab1.mybatis.dao.BookMapper">
    <resultMap id="BaseResultMap" type="com.example.lab1.mybatis.model.Book">
        <id column="ID" jdbcType="BIGINT" property="id" />
        <result column="ISBN" jdbcType="VARCHAR" property="isbn" />
        <result column="TITLE" jdbcType="VARCHAR" property="title" />
        <result column="COPIES" jdbcType="INTEGER" property="copies" />
        <result column="AUTHOR_ID" jdbcType="BIGINT" property="authorId" />
    </resultMap>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT ID, ISBN, TITLE, COPIES, AUTHOR_ID
        FROM BOOK
        WHERE ID = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT ID, ISBN, TITLE, COPIES, AUTHOR_ID
        FROM BOOK
    </select>

    <select id="selectByAuthorId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT ID, ISBN, TITLE, COPIES, AUTHOR_ID
        FROM BOOK
        WHERE AUTHOR_ID = #{authorId,jdbcType=BIGINT}
    </select>

    <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.example.lab1.mybatis.model.Book" useGeneratedKeys="true">
        INSERT INTO BOOK (ID, ISBN, TITLE, COPIES, AUTHOR_ID)
        VALUES (NEXT VALUE FOR HIBERNATE_SEQUENCE, #{isbn,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{copies,jdbcType=INTEGER}, #{authorId,jdbcType=BIGINT})
    </insert>

    <select id="selectByGenreId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT b.ID, b.ISBN, b.TITLE, b.COPIES, b.AUTHOR_ID
        FROM BOOK b
                 JOIN BOOK_GENRE bg ON b.ID = bg.BOOKS_ID
        WHERE bg.GENRES_ID = #{genreId,jdbcType=BIGINT}
    </select>

    <update id="updateByPrimaryKey" parameterType="com.example.lab1.mybatis.model.Book">
        UPDATE BOOK
        SET ISBN = #{isbn,jdbcType=VARCHAR},
            TITLE = #{title,jdbcType=VARCHAR},
            COPIES = #{copies,jdbcType=INTEGER},
            AUTHOR_ID = #{authorId,jdbcType=BIGINT}
        WHERE ID = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM BOOK
        WHERE ID = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insertBookGenre">
        INSERT INTO BOOK_GENRE (BOOKS_ID, GENRES_ID)
        VALUES (#{bookId,jdbcType=BIGINT}, #{genreId,jdbcType=BIGINT})
    </insert>

    <delete id="deleteBookGenres" parameterType="java.lang.Long">
        DELETE FROM BOOK_GENRE
        WHERE BOOKS_ID = #{bookId,jdbcType=BIGINT}
    </delete>
</mapper>